<h1>URL Shortener</h1>

<% params[:full_url] %>

<form name="input" action="/urls" method="post">
Long Url: <input type="text" name="full_url">
<input type="submit" value="Submit">
</form>

<% if @url %>
<h3>your original URL: <%= @url.full_url %></h3>
<h3>new, shortened URL: <a href="http://localhost:9393/<%= @url.short_url %>">http://localhost:9393/<%= @url.short_url %></a></h3>
<% end %>
